<style>

    body {
        /*background-color: #000000;*/
        background-image: url(/assets/back_image.jpeg);
    }
    .form-group {
        font-size: 1.8em;
        color: white;
    }
    
    label {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: white;
    }
</style>

<div class="container">
    <br><br><br>
    <h1 style="text-align: left; font-size: 3em; color: white;">게시물 올리기</h1>
    <br>
    
    <form action="/board/create" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">제목</label>
        <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="제목" required>
    
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">작성자</label>
        <input type="text" name="editor" class="form-control" id="exampleInputPassword1" placeholder="작성자" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">비밀번호</label>
        <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="숫자만 입력하세요" required>
    </div>
      
        <div class="form-group">
            <label for="comment">본문:</label>
            <textarea class="form-control" name="content" rows="10" id="comment" required></textarea>
        </div>
        
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<br>
<br><br><br>